<style>

    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .a-block{
        height: 300px;
        width: 300px;
    }

    .first-block{
        width: 100%;
        height: 800px;
        background: url('https://ununsplash.imgix.net/photo-1413896235942-39c2eb7cd584?dpr=2&fit=crop&fm=jpg&h=700&q=75&w=1050');
        background-size: 100% 100%;
        text-align: center;
        vertical-align: middle;
    }

    .sec-block{
        background: rgba(255,255,255,0.1);
        width: 100%;
        height: 400px;
        text-align: center;
        vertical-align: middle;
    }

    .third-block{
        background: url('https://ununsplash.imgix.net/photo-1416862291207-4ca732144d83?q=75&fm=jpg&s=df8c00463528dcbff9e2f80eb9c09516');
        background-size: 100% 100%;
        width: 100%;
        height: 400px;
        text-align: center;
        vertical-align: middle;
    }

    .third-block>a:hover{
        text-decoration: none;
    }

    .cool-text{
        color: white;  /* Fallback: assume this color ON TOP of image */
        background: url('https://ununsplash.imgix.net/reserve/oY3ayprWQlewtG7N4OXl_DSC_5225-2.jpg?q=75&fm=jpg&s=85ab821f3fa535036a68155aab571bad') no-repeat;
        background-size: 100% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .footer-block{
        background: #ee6828;
        text-align: center;
        vertical-align: middle;
        height: 100px;
        padding: 50px;
        width: 100%;
        color: #fff;
        font-size: 20px;
        font-family: sans-serif;
    }

</style>
<!-- photos form https://unsplash.com/license -->
<div style="min-height: 600px;">
    <div class="a-block first-block">
        <h1 style="margin: 0 auto; padding-top: 200px; color: #DDD; font-family: inherit; font-weight: lighter;">Bridge between all the cloud resource and your real life.</h1>
    </div>
    <div class="a-block sec-block">
        <div style="padding: 100px; color: #EEE; text-align: left; font-weight: 100; font-size: 20px;">
            <p>
                We make "use API" much more easier than ever.
            </p>
            <p>
                Though simply drag and drop, you can create your own application in 30 seconds.
            </p>
            <p>
                <br>
            </p>
            <p>
                Do whatever you want to fit you requirement,
            </p>
            <p>
                Or share to the world so make it better.
            </p>
        </div>
    </div>
    <div class="a-block third-block">
        <a href="/#!/signup"><h2 class="cool-text" style="margin: 0 auto; padding-top: 40px; font-family: sans-serif; font-weight: bolder; font-size: 65px;">Just go with us.</h2></a>
    </div>
    <div class="a-block footer-block">
        LAUNCH Hackathon 2015, SF
    </div>
</div>


