.content {
	margin-top: 50px;
	/*margin-top: 0;*/
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #AEA8D3;
}

.label {
	display: inline-block;
	cursor: pointer;
}

/*
Generic reset.
*/

* {
	padding: 0;
	margin: 0;
}

.test {
	border: 5px #F4B350 solid;
	padding: 10;
	margin: 10;
	font-family: "Times New Roman";
	font-style: italic;
}

/*
Styles for nodes and connectors.
*/

.node-rect {
	stroke: black;
	stroke-width: 1;
}

.mouseover-node-rect {
	stroke: black;
	stroke-width: 1;
}

.selected-node-rect {
	stroke: #FDE3A7;
	stroke-width: 1;
}

.connector-circle {
    fill: rgba(103, 128, 159, 1);
    stroke-width: 0.5px;
    stroke: black;
}

.mouseover-connector-circle {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

/*
Style for connections.
*/

.connection {
}

.connection-line {
	stroke: #BDC3C7;
	stroke-width: 4;
	fill: transparent;
}	

.mouseover-connection-line {
	stroke: #BDC3C7;
	stroke-width: 6;
	fill: transparent;
}	

.selected-connection-line {
	stroke: #F4B350;
	stroke-width: 4;
	fill: transparent;
}	

.connection-endpoint {
	fill: #BDC3C7;
}

.selected-connection-endpoint {
	fill: #F4B350;
}	

.mouseover-connection-endpoint {
	fill: #BDC3C7;
}

/*
Style for the connection being dragged out.
*/

.dragging-connection {
	pointer-events: none;
}

.dragging-connection-line {
	stroke: #BDC3C7;
	stroke-width: 3;
	fill: transparent;
}	

.dragging-connection-endpoint {
	fill: #BDC3C7;
}

/*
The element (in this case the SVG element) that contains the draggable elements.
*/

.draggable-container {
    border: 0;
    border-radius: 10px;
    background: rgba(171, 183, 183,0.5);
}

/*
Drag selection rectangle.
*/

.drag-selection-rect {
	stroke: #6C7A89;
	stroke-width: 2;
	fill: transparent;
}